<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content=IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/checkout.css"/>
    <script src="/scripts/lib/modernizr.custom.js"></script>
</head>
<body>
    <header id="header">
        <h1><a href="/">Papyr</a></h1>
        <div class="search-form">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="search" data-bind="textInput: searchString">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" data-bind="click: go">Go!</button>
                </span>
            </div><!-- /input-group -->
        </div>

        <nav>


    <!--
            <span data-bind="foreach: links">
                <a data-bind="text: text, href: href"></a>
            </span>
    -->
            <!-- ko ifnot: {{isAuthenticated}} -->
            <a href="/checkout">
                <i class="fa fa-shopping-cart"></i>
            </a>
            <a href="/login">
                <button type="button" class="btn btn-default navbar-btn">Sign in</button>
            </a>

            <a href="/register">
                <button type="button" id = "register-button" class="btn btn-default navbar-btn">Register</button>
            </a>
            <!-- /ko -->
            <!-- ko if: {{isAuthenticated}} -->
            <a href="/checkout">
                <i class="fa fa-shopping-cart"></i>
            </a>
            Welcome {{user}} </span> !
            <a href="/logout">
                <button type="button" class="btn btn-default navbar-btn">Log out</button>
            </a>

            <!-- /ko -->
        </nav>
    </header>
    <div class="container">
        {{{body}}}
    </div><!-- /container -->

    <!-- templates -->

    {{> empty}}
    {{> error404}}
    {{> searchNoResults}}
    {{> productGrid}}
    {{> bookDetails}}
    {{> login}}
    {{> register}}
    {{> checkout}}
    {{> checkoutEmpty}}
    {{> checkoutCopy}}
    {{> error}}
    {{> succ_reg}}
    {{> succ_login}}
    {{> report}}
    {{> succ_addtoCart}}


    <!-- /templates -->

    <!-- Lib CDN's-->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>

    <script src="/scripts/lib/bower_components/hilary/release/hilary.min.js"></script>
    <script src="/scripts/lib/bower_components/gidget/release/gidget.min.js"></script>
    <script src="/scripts/lib/bower_components/es6-promise/promise.min.js"></script>
    <script src="/scripts/lib/bower_components/fetch/fetch.js"></script>
    <script src="/scripts/lib/ko.binders.js"></script>
    <script src="/scripts/lib/grid.js"></script>

    <script src="/scripts/controllers/authController.js"></script>
    <script src="/scripts/controllers/booksController.js"></script>
    <script src="/scripts/controllers/homeController.js"></script>
    <script src="/scripts/controllers/exampleController.js"></script>

    <script src="/scripts/controllers/checkoutController.js"></script>

    <script src="/scripts/controllers/addToCartController.js"></script>


  

    <script src="/scripts/controllers/errorController.js"></script>



    <script src="/scripts/locale/en_US.js"></script>

    <script src="/scripts/models/Book.js"></script>
    <script src="/scripts/models/Books.js"></script>
    <script src="/scripts/models/Product.js"></script>
    <script src="/scripts/models/Products.js"></script>
    <script src="/scripts/models/Checkout.js"></script>
    <script src="/scripts/models/Checkouts.js"></script>

    <script src="/scripts/viewModels/HomeVM.js"></script>

    <script src="/scripts/ExceptionHandler.js"></script>
    <script src="/scripts/utils.js"></script>
    <script src="/scripts/ViewEngine.js"></script>
    <script src="/scripts/startup.js"></script>
    <script src="/scripts/checkoutPage.js"></script>

</body>
</html>
